__pycahe__/*
.vscode/*
__pycache__/model.cpython-37.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
__pycache__/dataset.cpython-37.pyc
__pycache__/trainer.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
debug_*
